#adminmenu .wp-menu-image {
display:none;
}

.folded .wp-menu-image {
display:inline !important;
}

#adminmenu .wp-submenu a {
padding-top:6px !important;
padding-bottom:4px !important;
}

#wpbody #adminmenu .wp-submenu li.current a {
background:url(menu-dark-new.gif) left center no-repeat !important;
}