#adminmenu .wp-menu-image {
display:none;
}

#adminmenu.folded .wp-menu-image {
display:inline;
}

#adminmenu a.wp-has-submenu {
padding: 6px 5px 6px 11px !important;
}

#adminmenu .wp-submenu a {
padding:6px 5px 4px 12px !important;
}

#adminmenu li.current a, #adminmenu .wp-submenu a:hover {
background-position:0 -285px !important;
}